<%- include("partials/header") -%>


    <div class="container-fluid content">
        <br>
        <h1 class="heading">Home</h1>
        <p>
            <%= HOME %>
        </p>
    </div>
    <br>
    <div class="container-fluid content">

        <% for(let i=0; i < TITLE.length; i++) { %>
            <h4>
                <%= TITLE[i].title %>
            </h4>
            <p>
                <%= JOURNAL[i].journal.substring(0, 100) %>
                    <a href="/post/<%= TITLE[i].title %> "> ... Read More</a>
            </p>
            <% } %>
                <button class="btn btn-primary mt-3"><a href="/compose">Compose</a></button>
                <button class="btn btn-primary mt-3"><a href="/logout">Log Out</a></button>
    </div>


    <%- include("partials/footer") -%>